<div class="container mt-5">

  <div class="card shadow p-4">

    <h2 class="text-center text-primary">
      Hello, Angular!
    </h2>

    <div class="row mt-4">

      <div class="col-md-6 text-center">

        <img src="assets/learning.jpg" class="img-fluid rounded" alt="Student">

      </div>

      <div class="col-md-6 text-center">

        <img
          src="https://cf-images.assettype.com/TNIE/import/2023/6/9/original/AMAL_JYOTI.jpg?w=1200&h=675&auto=format%2Ccompress&fit=max&enlarge=true"
          class="img-fluid rounded"
          alt="Amal Jyothi College">

      </div>

    </div>

    <app-my-child></app-my-child>

  </div>

</div>
